body {font-family: 'Open Sans', sans-serif;
		padding-bottom: 0;
		font-size: 15px;}
		
a {color: inherit;
	text-decoration: none;}
		
		
.navbar-nav {margin: 0 15px 0 0;}

h4 {color: #6d7808;}

h1,h2,h3,h4,h5 {font-weight: 700;}

.navbar-default {
    background: linear-gradient(#020202,#373a3d);
    border-radius: 0;
	padding: 60px 0 15px 0;
	border-bottom: 4px solid #8e9a1e;
}

.logo {position: absolute;
	background: radial-gradient(#e3ef6e,#8d991d);
	padding: 54px 32px;
	border-radius: 0 0 25px 25px;
	top: 0;
	box-shadow: 0 7px 7px #909090;
	
	}
	
.logo img {width: 180px;
	height: 56px;}
	
.navbar-default .navbar-nav > li > a {
    color: #fff;
	padding: 9px 13px;
	border-radius: 10px;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: #929e21;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #929e21;
	padding: 9px 13px;
	border-radius: 10px;
}

.navbar-nav>li {
    padding-left: 5px;
}

.middle {color: white;}

.middle .form-control:focus {border: 2px solid #ccc;}

.middle .row:nth-of-type(2) {background: white;
						border: 1px solid #ccc;
						padding: 10px;
						margin: 40px 10px;
						box-shadow: 0 3px 15px #666464;
						}

.middle .col-md-12 {background: linear-gradient(#e3ef6e,#8d991d);
					padding: 33px 52px;}

.middle .btn {background: linear-gradient(#020202,#373a3d);
					width: 30%;
					height: 45px;
					line-height: 35px;
					border: none;
					margin: 0 25px 15px 0;}
					
.middle .btn:hover {color: #8e8b8b;}

.middle h1 {font-size: 30px;
			text-shadow: 0 3px 5px #666464;
			margin-bottom: 48px;}

.middle p:nth-of-type(1) {font-size: 18px;
			text-shadow: 0 3px 5px #666464;
			margin-bottom: 48px;}	

.back {background: #e9e9db; 
			width: 100%;
			height: 1100px;
			position: absolute;
			top: 500px;
			z-index: -999;}		

.content .box {background: #fff;
				overflow:auto;
				padding: 10px;
				margin: 5px;
				border-radius: 20px;}
				
.content .row:nth-of-type(1) {margin-bottom: 30px;}

.content .row:nth-of-type(2) {margin-bottom: 70px;}

.content .row:nth-of-type(3) {margin-bottom: 130px;}

.icon { 
  margin-top: 12%;
  }	

.icon2 { 
  top: 35px;
  }	 
  
 .content li {float: left;
 width: 30%;
 margin-right: 2%;}
 
 .content ul {
 font-size: 14px;
 
    -webkit-padding-start: 20px;
	list-style-image: url(../images/checkmark.png);
}



/* Changes the position of the indicators */
.carousel-indicators {
	right: 50%;
	top: auto;
	bottom: 0px;
	margin-right: -19px;
	margin-bottom: 0;
}
/* Changes the colour of the indicators */
.carousel-indicators li {
	background: #c0c0c0;
}
.carousel-indicators .active {
background: #333333;
}

.carousel {
    height: 196px;
    background-color: #fff;
	margin-bottom: 0;
	padding: 0 40px 30px 40px;
}

.carousel .item {
    height: 196px;
    background-color: #fff;
	margin: 0 30px;
}

.item .thumbnail {margin-top: 20px;}

.carbtn {width: 100%;
		position: absolute;
			left: 0;
			right: 0;
			font-size: 90px;
			top: 25%;
			color: white;}

.prev {float: left;
		margin-left: 8px;
			color: #ccc;}

.next {float: right;
		margin-right: 8px;
		color: #ccc;}
		
.prev:hover, .next:hover {color: #a0b050;}


.well {position: absolute;
		left: 0;
		right: 0;
		top: -130px;}
		
.wellhead {font-size: 24px;}
		
.footerTop {background: linear-gradient(#020202,#373a3d);
			padding: 150px 0 50px 0;
			color: white;}
			
.footerTop h2{font-size: 24px;
			margin-bottom: 28px;}

.footerTop .gray {color: #999999;}

.footerTop .blog {height: 30px;
				border-bottom: 1px dotted white;}
									
.footerTop .smallthumb {height: 82px;
						width: 82px;
						overflow: hidden;
						border: 1px solid #ccc;}
						
.footerTop ul {list-style: none;
			padding-left: 0;}
						
.footerTop li {float: left;
			margin: 0 10px 10px 0;}
			
.smallthumb img {transition: all .2s;}
			
.footerTop li:hover .smallthumb img{transform: scale(1.1);}

.footerTop .suggest, .footerTop .sound {background: linear-gradient(#e3ef6e,#8d991d);
										border: none;
										color: black;}

.footerTop .suggest {margin-top: 40px;}

.footerTop .suggest:hover, .footerTop .sound:hover {background: linear-gradient(#8d991d,#e3ef6e);}

footer {background: #333333;
		padding: 28px 0;
		color: white;
		clear: both;}
		
footer p {float: left;
		}
		
footer ul {float: right;
		list-style: none;}

footer ul li {float: left;
			padding-left: 12px;}

footer ul li a:hover{color: white;}




						
/*smart phones*/
@media(min-width: 320px) and (max-width: 767px){
 
 .middle .btn  {width: 60%;}
 
 .middle .col-md-12 {padding: 15px;}
 
 .logo img {width: 90px;
			height: auto;}
			
.navbar-default {
	padding: 30px 0 8px 0;
}

.logo {
	padding: 25px 15px;
	box-shadow: 0 3px 7px #909090;
	margin-left: 15px;
	}
	
.back {	height: 2000px;
		top: 700px;}
		
.bottom-nav {display: none;}
		
.icon2 { 
  margin-bottom: 50px;
  }	

.content .box {margin-bottom: 20px;}  
		
		
.content li {float: none;}	

.carousel {
    height: 550px;
}

.carousel .item {
    height: auto;
	width: 	80%;
	margin: 0 10px;
}

.item .thumbnail {margin-top: 20px;}

.carbtn {font-size: 60px;}


.footerTop {padding: 500px 0 50px 0;
			}
			
.footerTop .suggest {margin: 15px 0 30px 0;}

.footerTop .sound {margin-bottom: 30px;}

.content ul {
	-webkit-padding-start: 40px;}
 
	.content ul  li{
	width: 70%;}	
}

/*tabs*/
@media(min-width: 768px) and (max-width: 992px){
 
.logo img {width: 120px;
			height: auto;}
			
.logo {
	padding: 35px 25px;
	box-shadow: 0 3px 7px #909090;
	}
	
.back {	height: 1500px;}
	
.content li {float: none;}

.bottom-nav {display: none;}

.footerTop .suggest {margin: 15px 0 30px 0;}

.footerTop .sound {margin-bottom: 30px;}

.navbar-nav > li {
	font-size: 12px;}
	
.navbar-nav {
    margin: 0;
}

.carousel .item {
	margin: 0 10px;
}

}



/*desktop*/
@media(min-width:768px){
  .navbar-collapse {float: right;}
}
